<ion-header>
  <ion-navbar>
    <ion-title>Feuille de temps</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <h1>
      Date : {{currentTime.day}}
    </h1>
    <h2>
      Heure actuelle : {{currentTime.time}}
    </h2>
  </ion-item>
 <button ion-button full (click)="testPDF()">TEST PDF</button>

  <form *ngIf="respoForm" (ngSubmit)="register()">
    <ion-item>
      <ion-label>Parent</ion-label>
      <ion-select [(ngModel)]="timeDatas.parentName" (ngModelChange)="onChange($event)" name="parentName">
        <ion-label>Parent</ion-label>
        <ion-option *ngFor="let respo of respoList">{{respo?.parentName}} {{respo?.parentSurname}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Heure d'arrivée</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="timeDatas.arrivingTime" name="arrivingTime"></ion-datetime>
    </ion-item>
    <button ion-button full type="submit">Valider</button>
  </form>

  <sig-pad (sigImg)="getSigImg($event)">
  </sig-pad>

</ion-content>