<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Feuille de temps</h2>
  <p>
    Date : {{currentTime.day}}
  </p>
  <p>
    Heure actuelle : {{currentTime.time}}
  </p>

  <ion-list>
  <ion-item ng-repeat="pdf in listOfPdf">
    {{pdf}}
  </ion-item>
</ion-list>

  <form (ngSubmit)="register()">
    <ion-item>
      <ion-label>Parent</ion-label>
      <ion-select [(ngModel)]="timeDatas.parentName" name="parentName">
        <ion-label>Parent</ion-label>
        <ion-option *ngFor="let parent of parentList">{{parent.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Heure d'arrivée</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="timeDatas.arrivingTime" name="arrivingTime"></ion-datetime>
    </ion-item>
    <button ion-button full type="submit">Valider</button>
  </form>

  <sig-pad (sigImg)="getSigImg($event)">
  </sig-pad>

</ion-content>